body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.2em;
}

*, *:after, *:before {
  box-sizing: inherit;
}

#root {
  height: 100%;
}
